*{
			text-decoration: none;
		}
.background-color {
    background-color: #F0F0F0;

    }
.background-image {
        background-image: url(BG.jpg); 
}


.header {
      background-color: #93B5C6;
      color: #fff;
      text-align: center;
      padding: 1px ;
      margin-bottom: 2px;  
}

.image {
      width: 300px;
      padding: 4px;
      background: linear-gradient(-45deg, #ADC4CE, #116A7B);
      border-radius: 7%;
      margin-left: 250px;
      margin-right: 50px;
      margin-top: 100px;
}
.image-corner{
         border-radius: 7%;
}
.profile-info {
      text-align: center;
      margin-top: -320px;
      margin-left: 600px;
      margin-bottom: 35px;
      color: #116A7B;
      font-size: 36px;
      font-weight: bold;
    }
.personal-info {
      padding: 20px;
      margin-left: 600px;
      margin-right: 250px;
      margin-top: -20px;
      margin-bottom: 200px;
      background-color: #ADC4CE;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.box h2::after {
  content: "";
  width: 4.5px;
  height: 44px;
  background: #0E2954;
  display: inline-block;
}
.box h2 {
  display: flex;
  align-items: center;
  margin: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.box h2::after {
    /*code commented for brevity*/
    animation: cursor-blink 1s steps(2) infinite;
}

.socials{
    padding: 10px;
    margin-left: 550px;
    margin-top: -200px;       
}
.fb:hover{
    opacity: 0.6
}
.ig:hover{
    opacity: 0.6
}
.twt:hover{
    opacity: 0.6
}


li{
			list-style: none; display: inline-block;
		}
li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}

.contribution-text {
      color: #27374D;
      text-align: center;
      padding: 1px ;
    margin-top: 20px;
    margin-bottom: -40px;
}


    .contributions {
      text-align: center;
      margin-bottom: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 50px 20px; 
      color: #fff;
    }

    .contributions h1 {
      color: #fff;
      margin-bottom: 20px;
    }

    .contributions .contributions-content {
      display: flex;
      justify-content: center; 
      width: 100%; 
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap; 
    font-size: 18px;    
    }

    .contribution {
      width: 300px; 
      padding: 20px;
      margin: 20px;
      border-radius: 20px;
      background-color: #ADC4CE;
      color: #fff;
      text-align: left;
      transition: transform 0.3s ease-in-out;
      position: relative;
    }

    .contribution :before {
      content: "\f6e3";
      font-family: "Font Awesome 6 Free";
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #fff;
    }

    .contribution:hover {
      transform: scale(1.05);
    }

   
.footer {
  text-align: center;
  padding: 3px;
  background-color: #93B5C6;
  color: white;
    
}

 